.header img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 230px;
}

.header {
    height: 230px;
}

body {
    font-size: 28px;
    margin: 0;
    font-family: Century, sans-serif;
}

p {
    text-align: center;
}

#titre {
    width: 100%;
    position: absolute;
    top: 25px;
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    cursor: pointer;
}

.active {
    background-color: #4CAF50;
}

#theFlyingDiv {
    position : fixed;
    bottom : 0;
    right : 0.5%;
    float : right;
    background-color : black;
    color : white;
    padding-right : 7%;
    padding-left : 7%;
    padding-top : 0.5%;
    padding-bottom : 0.5%;
    border-radius : 10px 10px 0 0;
    max-width : 20%;
    max-height : 40%;
    overflow : auto;
}

table {
    width: 75%;
}

td {
    padding: 0;
    margin: 0;
}

.checklistc {
    border: 1px solid black;
}

#fusee {
    padding-left:45%;
    position: absolute;
}

#close {
    display : inline;
    cursor : pointer;
    float : right;
}


#chat {
    max-height : 50%;
}

#userMessage {
    text-align: left;
}

#deboroMessage {
    text-align: right;
}

#fortnite {
    height: 200px;
    width: 180px;
}